<div class="container">
  <h1>URL Shortner!</h1>



  <form method='post' action='/urls'>
    Cool URL: <Input type='word' name='long_url' placeholder='long url'><br><br>

    <button>Submit Cool URL!</button>
    <br>
  </form>

 
</div>
